body{
    background: #000000;
    width:400px;
    margin:0 auto;
    text-align: center;
}
input[type="text"]{
    text-align:center;
    width:400px;
    height:50px;
    line-height:50px;
    font-size:30px;
    margin:50px 0;
    padding:0;
}
input[type="submit"]{
    min-width:80px;
    height:40px;
    line-height:40px;
    font-size:25px;
}